.internship-container {
    padding: 50px 10%;
    text-align: center;
    color: white;
}

.internship-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.internship {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: center;

    img {
        width: 50%;
        max-width: 100%;
    }
}

.internship h2 {
    font-size: 1.8em;
}

.internship p {
    font-size: 1.2em;
}

@media screen {
    @media (max-width: 768px) {
        .internship {
            width: 100%;
        }
    }
}
